
body {
  margin: 0;
  /*Separaciones*/
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: rgb(219, 229, 229);
}

.navbar {
  background: #000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  /*alinear separado*/
  align-items: center;
  z-index: 0;
}

.nav-logo {
  font-weight: bold;
  -webkit-text-stroke: 0.8px white;
  font-size: 15px;
  margin: 15px;
  letter-spacing: 1px;
  color: #fff0;
  transition: 0.3s;
}

.nav-logo:hover{
  color: #fff;
}

.nav-items a {
  margin: 15px;
  color: white;
  position: relative;
  text-decoration: none;
}

.nav-items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.5s;
}

.nav-items a:hover::before {
  width: 100% !important;
}

.nav-toggle {
  display: none;
  /*quitar separacion*/
}

@media(max-width:768px) {
  .nav-items {
    position: absolute;
    top: 60px;
    left: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    /*Permite pantalla completa*/
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }

  .nav-items a {
    text-align: center;
  }

  .nav-toggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px;
  }

  .nav-toggle span {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .close span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .close span:nth-child(2) {
    display: none;
  }

  .close span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }

  .open {
    transform: translate(0) !important;
  }
}

header{
  width: 100%;
  height:500px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .imagen-header{
  width: 100%;
  height: 100%;
background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../ImagenesPagina/imagen\ 1.jpg');
background-size: cover;
background-attachment: stretch;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

header .imagen-header h1{
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: center;
}



@media(min-width:594px){
    
  header .imagen-header h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
  }
}

@media(max-width:470){
    
  header .imagen-header h1{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
  }
}

/*letra en pantalla grande*/

.about-us{
  text-align: center;
  padding-top: 1rem;
}

.about-us-content{
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  font-size: 2rem;
}

