:root {
    --Blanco: #fff;
    --Amarillo: #fbff00;
    --negro: #000;
    --Titulos: "Arima Madurai", cursive;
    --Parrafos: "Mulish", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}